h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: $white;
    font-family: $font-family-title;
}
  
h2 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: $text-hover;
    padding-bottom: 5rem;
    font-family: $font-family-secondaire;
}

.subtitle {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: $white;
  padding-bottom: 1rem;
  font-family: $font-family-secondaire;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: $black;
  padding: 0.2rem 0;
  font-family: $font-family-secondaire;
}

p {
  font-family: $font-family-text;
  color: $white;
}

a {
  font-family: $font-family-text;
  color: $black;
}

.lien {
  text-decoration: none;
  color: $black;
  border: solid 1px $bg-black;
  font-family: $font-family-text;
  padding: 0.5em;
  border-radius: 0.6em;
  transition: all 0.4s ease-out;
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
  animation: pulsate-bck 1s ease-in-out infinite both;
  &:hover {
      background-color: $text-hover;
      text-decoration: none;
      color: $white;
  }
}
