.contact {
    .coordonees {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: $bg-black;
        border: solid 2px $black;
        box-shadow:  6px 6px 12px #d9d9d9, 
        -6px -6px 12px #ffffff;
        padding: 1em;
        border-radius: 10px;
        margin: 1em;
        width: 80%;
        p {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                color: $white;
                margin: 1em 0;
                font-weight: bold;
            }

            a {
                text-decoration: none;
                color: $text-hover;
                font-weight: bold;
                margin: 1em 0;
            }
        }
    }

    .app_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        background-color: $bg-black;
        border: solid 2px $black;
        box-shadow:  6px 6px 12px #d9d9d9, 
        -6px -6px 12px #ffffff;
        padding: 1em;
        border-radius: 10px;
        margin: 1em;
        .form-group {
            width: 60%;

            @media screen and (max-width: 768px) {
                width: 80%;
            }
    
            &.error {
                & .form-control {
                    box-shadow: 1px 1px 2px $red, -1px -1px 2px $red;
                }
            }
    
            &.success {
                & > input,
                & > select,
                & > textarea {
                    box-shadow: 1px 1px 2px $green, -1px -1px 2px $green;
                }
            }

            label {
                color: $white;
                margin: 0.5em 0.4em;
            }
            .required {
                color: $red;
            }

            input, textarea {
                border: 2px solid $black;
                padding: 1.5em;
                border-radius: 10px;
            }
        }
        .app_button {
            button {
                color: $black;
                border: solid 1px $bg-black;
                font-family: $font-family-text;
                background-color: $white;
                padding: 0.5em 2em;
                border-radius: 0.6em;
                transition: all 0.4s ease-out;
                -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
                animation: pulsate-bck 1s ease-in-out infinite both;
                &:hover {
                    background-color: $text-hover;
                    text-decoration: none;
                    color: $white;
                }
            }
            &.disabled {
                opacity:0.2;
            }
        }
    }
}