.expert {
    align-items: center;

    .experience {
        margin: 0 4em 4em 4em;
        width: 80%;
        @media screen and (max-width: 425px) {
                margin: 0 1em 4em 1em;
        }
        @media screen and (max-width: 768px) {
                width: 90%;
        }
        .accordion {
                margin-top: 5em;
                .card {
                        margin: 2em 0;
                        border-radius: 20px;
                        border: solid 2px $black;
                    .card-header {
                            display: flex;
                            justify-content: center;
                            background-color: $bg-principal;
                            border-radius: 20px 20px 0 0;
                            border-bottom: 1px solid $black;
                        .party {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border: solid 2px $black;
                                padding: 1em;
                                text-decoration: none;
                                background-color: $white;
                                transition: all 0.4s ease-out;
                                -webkit-animation: shadow-drop-2-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
                                animation: shadow-drop-2-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
                                &:hover {
                                        background-color: $bg-black;
                                        p {
                                                color: $white; 
                                        }
                                }
                                img {
                                    width: 8em;
                                    margin-bottom: 1.2em;
                                }
                        
                                i {
                                    margin-bottom: 0.3em;
                                    font-size: 3em;
                                    color: rgb(190, 73, 73);
                                }
                        
                                p {
                                    line-height: 1.5em;
                                    color: $black;
                                }
                        }
                    }
                     .show {
                             background-color: $bg-black;
                        .text {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: justify;
                                background-color: $white;
                                box-shadow:  7px 7px 14px #474747;
                                border: solid 2px $black;
                                padding: 1em;
                                border-radius: 10px;
                                margin: 1em;
                    
                                p {
                                    color: $black;
                                    line-height: 1.5em;
                                    padding: 0.5em;
                                    a {
                                        text-decoration: none;
                                        color: $black;
                                        font-weight: bold;
                                        transition: all 0.4s ease-out;
                                        &:hover {
                                            color:$text-hover;
                                        }
                                    }
                                }
                    
                                .bold {
                                    font-weight: bold;
                                }
                        }
                     }  
                }
        }
    }
    
}

  /* ----------------------------------------------
 * Generated by Animista on 2020-6-4 9:56:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  