.App-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $text-primary;
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.85), 0 2px 2px rgba(255, 255, 255, 0.85);
    .logo {
        width: 40%;
        display: flex;
        justify-content: center;
        img {
            width: 5em;
            height: auto;
        }
    }
    h1 {
        text-align: center;
        width: 60%;
        @media screen and (max-width: 375px) {
            font-size: 1.5em;
        }
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        @media screen and (max-width: 425px) {
           flex-direction: column;
        }
        .link {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $text-primary;
            margin: 1em;
            font-family: $font-family-text;
            transition: all 0.4s ease-out;
            @media screen and (max-width: 425px) {
                margin: 0.5em;
             }
            &.active {
              color: $text-hover;
            }
            &:hover {
                color: $text-hover;
            }
            i {
                font-size: 2em;
            }
            p {
                font-size: 1.2em;
                font-family: $font-family-text;
                &.active {
                    color: $text-hover;
                }
            }
        }
    }
  }